<% include partials/header %>

<div class="container" >
    <div class="row">
        <h1 style="text-align:center;">Sign up for YelpCamp!</h1>
        <div style="width:30%; margin: 20px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username....">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password....">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" >Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>