<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Campgrounds</h1>
            <p>Campgrounds from all over the world</p>
            <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new campground</a></p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;"> 
        <div class="col-lg-12">
            <h3>Our Most Popular Campgrounds!</h3>
        </div>

        <% campgrounds.forEach((campground)=>{ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>" alt="<%= campground.name %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>

    </div>
</div>
<% include ../partials/footer %>