<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>">
                <div class="caption">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a href=""><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <% if(currentUser && campground.author.id.equals(currentUser.id)){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit" role="button">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger" type="submit">Delete</button>
                        </form>
                    <% } else { %>
                        <p>
                            <em>Submitted by: <%= campground.author.username %></em>
                        </p>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">New Review</a>
                </div>
                <hr>
                <% campground.comments.forEach((comment)=>{ %>
                    <strong><%= comment.author.username %></strong>
                    <span class="pull-right">10 Days Ago</span>
                    <p><%= comment.text %></p>
                    <% if(currentUser && comment.author.id.equals(currentUser.id)){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" role="button">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger" type="submit">Delete</button>
                        </form>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>